<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RedditAuthURL" value ="https://www.reddit.com/api/v1/access_token"/>
		<add key ="PostsPath" value="C:\SubReddit\Posts\"/>
		<add key ="UsersPath" value="C:\SubReddit\Users\"/>
		<add key="AppId" value=""/>
		<add key="Secret" value=""/>
		<add key="Username" value=""/>
		<add key="Password" value=""/>
	</appSettings>
</configuration>